categoryName string מה יהיה שם הקטגוריה הכללי?
channels array אילו שמות יקבלו ערוצי הטקסט בקטגוריה, וכמה?
vcs array אילו שמות יקבלו ערוצי השיחות בקטגוריה, וכמה?
teacherRoleName string מה יהיה שם הקבוצה החדש שיווצר עם הכיתה?
teachPerms id אילו הרשאות תקבל המורה בקטגוריה שלה?
studentPerms id אילו הרשאות יקבלו התלמידים בקטגוריה?