starterRole id הקבוצה שיקבל איש בכניסתו לשרת
filters array הפילטרים לשרת, הודעות הכוללות מילים אלו ימחקו
filterBypass boolean האם מנהלי השרת יוכלו לעקוף את הפילטר?
logChannel id צ'אט להודעות מערכת, רצוי שרת פרטי למנהלים
createChatChannel boolean האם תרצה שהבוט יצור חדרים זמניים בעט כניסה לשיחות?